@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
.nav_bar{
    background-image: url("/assets/img/v36-intro.jpg");
    width: 100%;
    min-height: 100%;
    padding-bottom: 200px;
    position: relative;
    top: 0;
    left: 0;
    font: 600 14px "Poppins","san-serif";
  
}

.txt{
    margin-top: 150px;
}
@media screen and (min-width:320px) and (max-width:375px) {
    .txt{
        margin-top: 60px;
    }
    
}
@media screen and (min-width:425px) and (max-width:768px) {
    .txt{
        margin-top: 60px;
    }
    
}
.texts{
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    word-break: break-word;
    font: 600 60px "Poppins","Open San",sans-serif;
    line-height: 59px;
    letter-spacing: 0px;
    text-transform: none;
    color: white;
    text-align: center;
}
.text{
    box-sizing: border-box;
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    word-break: break-word;
    font: 500 18px "Roboto", Sans-serif;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: none;
    color: white;
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {

    .text{
        box-sizing: border-box;
        width: 37%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        display: block;
        word-break: break-word;
        font: 500 18px "Roboto", Sans-serif;
        line-height: 28px;
        letter-spacing: 0px;
        text-transform: none;
        color: white;
    }
}

@media screen and (min-width:375px) and (max-width:320px) {
    .text{
        box-sizing: border-box;
        width: 67%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        display: block;
        word-break: break-word;
        font: 500 18px "Roboto", Sans-serif;
        line-height: 28px;
        letter-spacing: 0px;
        text-transform: none;
        color: white;
    }
    
}

@media screen and (min-width:425px) and (max-width:768px) {
    .text{
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        display: block;
        word-break: break-word;
        font: 500 18px "Roboto", Sans-serif;
        line-height: 28px;
        letter-spacing: 0px;
        text-transform: none;
        color: white;
        width: 50%;
    }
    
}
span{
    color: #CACACA;
}

p{
    text-align: center;
    font: 500 16px "Roboto", Sans-serif;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: none;
    color: #616161;
}

@media screen and (min-width:320px) and (max-width:375px) {
    p{
        text-align: center;
        font: 500 14px "Roboto", Sans-serif;
        line-height: 24px;
        letter-spacing: 0px;
        text-transform: none;
        color: #616161;
    }

    }
    
@media screen and (min-width:425px) and (max-width:768px) {
    p{
        
    }

    }


@media screen and (min-width:1024px) and (max-width:1440px) {
    p{
    text-align: center;
    font: 500 16px "Roboto", Sans-serif;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: none;
    color: #616161;
        
    }

    }




@media screen and (min-width:320px) and (max-width:375px) {
    h1{
    text-align: center;
    font: 600 30px "Poppins","Open San",sans-serif;;
    line-height: 40px;
    letter-spacing: -1px;
    text-transform: none;

    }
}
@media screen and (min-width:1024px) and (max-width:1440px) {
    h1{
    text-align: center;
    font: 600 60px "Poppins","Open San",sans-serif;;
    line-height: 74px;
    letter-spacing: -1px;
    text-transform: none;

    }
}

@media screen and (min-width:425px) and (max-width:768px) {
    h1{
    text-align: center;
    font: 600 60px "Poppins","Open San",sans-serif;;
    line-height: 74px;
    letter-spacing: -1px;
    text-transform: none;

    }
}
/* h1{
    text-align: center;
    font: 600 60px "Poppins","Open San",sans-serif;;
    line-height: 74px;
    letter-spacing: -1px;
    text-transform: none;
} */
h2{
    text-align: center;
    font: 600 50px "Poppins","Open San",sans-serif;;
    line-height: 40px;
    letter-spacing: -1px;
    text-transform: none;
    color: #303132;

}
@media screen and (min-width:320px) and (max-width: 375px) {
    h2{
        text-align: center;
        font: 600 45px "Poppins","Open San",sans-serif;
        line-height: 45px;
        letter-spacing: -1px;
        text-transform: none;
        color: #303132;
    }
    }
   
@media screen and (min-width:425px) and (max-width: 768px) {
    h2{
        text-align: center;
        font: 600 49px "Poppins","Open San",sans-serif;
        line-height: 50px;
        letter-spacing: -1px;
        text-transform: none;
        color: #303132;
    }
    }

h3{
    text-align: center;
}
h6{
    text-align: center;
    font: 600 18px "Poppins","Open San",sans-serif;;
    line-height: 28px;
    text-transform: none;
}
.promotion{
    width: 32%;
}
@media screen and (min-width:320px) and (max-width:425px) {
    .promotion{
        width: 70%;
    }
}

.second{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;

}
.icon{
    color: #4859fc;
    font: 500 18px "Roboto", Sans-serif;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 25px;

}
@media screen and (min-width: 320px) and (max-width: 375px){
   .icon{margin-left: 100px;
    margin-bottom: 30px;
    }
}
 @media screen and (min-width: 768px) and (max-width: 1024px){
    .icon{margin-left: 80px;
     margin-bottom: 20px;
     }
 }
 
 .second_txt{
    color: #868E94;
 }

 .third_sect{
    background-color: black;
    padding-top: 120px;
    padding-bottom: 80px;
 }
 .second_column{
    margin-top: 200px;
    
 }
 @media screen and (min-width: 425px) and (max-width: 768px){
    .second_column{
        margin-top: 50px;
    }
    
 }
 @media screen and (min-width: 320px) and (max-width: 375px){
    .second_column{
        margin-top: 50px;
    }

    .two_btn{
        display: block !important;
        margin-top: 20px;
    }
    
 }
 .contain{
    margin-top: 100px;
 }
 .parag{
    width: 80%;
 }

.image_first{
    margin-left: 50px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .image_first{
        margin-top: 100px;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    
    .img_headphone{
        width: 460px;
    }
}
/*Medium screen*/
@media screen and (max-width: 768px) and (min-width: 425px){
    .img_headphone {
        width: 350px;

    }
}

/* Small Screen*/
@media screen and (max-width: 375px) and (min-width: 320px) {
    .img_headphone{
        width: 300px;
    }
    
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .img_pod{
        width: 300px;
    }
    
}
@media screen and (min-width: 320px) and (max-width: 375px) {
    .img_pod{
        width: 200px;
    }
    
}
.vr-headset{
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .vr-headset{
       width: 100%;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .vr-headset{
       width: 100%;
    }
}


.space_top{
    margin-top: 200px;
}
@media screen and (min-width: 320px) and (max-width: 375px) {
    .space_top{
        margin-top: 10px;
    }
    
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .space_top{
        margin-top: 10px;
    }
    
}
.fourth_sect{
    background-color: white;
    padding-top: 120px;
    padding-bottom: 80px;
}
.two_btn{
    display: flex;
}
.mybtn{
    width: 170px;
    height: 60px;
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .mybtn{
        width: 150px;
        height: 60px;
    }
    
}
.color_btn{
    /* background-color: white; */
    border: 3px solid rgba(221,221,221,1);
    color: rgba(161,161,161,1);

}
.color_btn:hover{
    color: white;
    background-color: #4859fc;
}
.review{
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo_sect{
    background-color: black;
    padding: 100px;
}
.logo{
    padding: 10%;
}
.blog{
    padding-top: 100px;
    padding-bottom: 100px;
}
.color_btn_sec{
    /* background-color: white; */
    border: 2px solid rgba(72,89,252,1);
    color: rgba(72,89,252,1);
    width: 100%;
    height: 50%;
}
.color_btn_sec:hover{
    color: white;
    background-color: blue;
   
}
.news-sect{
    background-color: #E3E3E3;
    padding-top: 100px;
    padding-bottom: 100px;
}
.parag_news{
    width: 50%;
}
@media screen and (min-width:320px) and (max-width:375px){
    .parag_news{
        width: 90%;
    }
    
}

@media screen and (min-width:425px) and (max-width:768px){
    .parag_news{
        width: 90%;
    }
    
}

.form_width{
    width: 500px;
    height: 50px;
    border: 1px solid #eeeeee;
    text-indent: 20px;
    background: #fafbfd;;

}
@media screen and (min-width:320px) and (max-width:375px){
    .form_width{
        width: 300px;
        margin-bottom: 10px;
        
    }
}
@media screen and (min-width:425px) and (max-width: 768px){
    .form_width{
        width: 200%;
        margin-right: 10px;
        
    }
    }
@media screen and (min-width:425px) and (max-width: 768px){
    .form_sub{
        display: flex;

    }
    }

@media screen and (min-width:1024px) and (max-width: 1440px){
    .form_width{
        width: 200%;
        margin-right: 10px;
        
    }
    }
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .form_sub{
        display: flex;

    }
    }
.contact_sect{
    padding-top: 100px;
    padding-bottom: 30px;
    border-bottom: 2px solid ;
    border-color:#E3E3E3;
}
.copy_section{
    background-color: #E3E3E3;
}